footer {
    flex: 1;
    margin-bottom: 0;
    width: 100%;
    background-color: $color-header-bg;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;

    .redes {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 50px;

        a {
            img {
                width: 30px;
                height: 30px;
                transition: transform .3s ease;
            }
        }
    }

    p {
        text-align: center;
        font-size: small;
    }
}